<template>
  <v-container fill-height>
    <v-layout
      row
      align-center
      justify-center
      fill-height>
      <v-flex xs12 md9>
        <v-card>
          <v-card-title primary-title>
            <v-spacer></v-spacer>
            <span class="grey--text text--darken-1 headline">Your Shopping Cart</span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-container fill-height>
            <v-layout
              row
              align-start
              justify-center>
              <v-flex xs12>
                <v-layout
                  row
                  wrap
                  align-center
                  justify-center>
                  <cart-item
                    v-for="(item, index) in cart"
                    :key="index"
                    :imageFile="item.image"
                    :description="item.descriptionLong"
                    :subTitle="item.descriptionShort"
                    :price="item.price"
                    :quantity="item.qty"
                    :idx="index"/>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="error"
              @click="clearCart()">Clear Cart</v-btn>
            <v-btn color="primary">Checkout</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CartItem from '@/components/cart/CartItem'

export default {
  components: {
    CartItem
  },
  computed: {
    ...mapGetters('cart', ['cart']),
    ...mapGetters('products', ['productData'])
  },
  methods: {
    ...mapActions('cart', [
      'addToCart',
      'clearCart'
    ])
  }
}
</script>
