<template>
  <v-layout>
    <v-carousel>
      <v-carousel-item
        v-for="(item, index) in productData"
        :key="'pic_' + index + '_' + item"
        :src="imagePath(item.image)">
          <v-container fill-height>
            <v-layout
              row
              fill-height
              wrap
              align-center>
              <v-flex xs12>
                <h1 class="display-2 white--text text-xs-center">{{ item.name }}s</h1>
              </v-flex>
            </v-layout>
          </v-container>
        </v-carousel-item>
    </v-carousel>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  methods: {
    imagePath (image) {
      return require(`@/assets/img/${image}`)
    }
  },
  computed: {
    ...mapGetters('products', ['productData'])
  }
}
</script>
