<template>
  <v-container fill-height>
    <v-layout
      row
      wrap
      justify-center
      align-center>
      <product-card
        v-for="(product, index) in productData"
        :key="'prod_' + index + '_' + product"
        :prodName="product.name"
        :prodInfo="product.shortDescription"
        :prodPrice="product.price"
        :prodImage="product.image"
        :prodLink="'/products/' + product.id"/>
    </v-layout>
  </v-container>
</template>

<script>
import ProductCard from '../components/products/ProductCard'
import { mapGetters } from 'vuex'

export default {
  components: {
    ProductCard
  },
  computed: {
    ...mapGetters('products', ['productData'])
  }
}
</script>
