<template>
    <div class="picker-box">
        <v-btn
            fab
            small
            color="primary"
            @click="decrementNum()">
            <v-icon>remove</v-icon>
        </v-btn>
        <input
            type="text"
            size="2"
            class="pa-2"
            maxlength="2"
            :value="number"
            @change="updateValue($event.target.value)"
            @input="updateValue($event.target.value)">
        <v-btn
            fab
            small
            color="primary"
            @click="incrementNum()">
            <v-icon>add</v-icon>
        </v-btn>
    </div>
</template>

<script>
export default {
  data: () => ({
    number: 1
  }),
  methods: {
    incrementNum () {
      (this.number === 99) ? this.number = 99 : this.number += 1
      this.updateValue(this.number)
    },
    decrementNum () {
      (this.number === 1) ? this.number = 1 : this.number -= 1
      this.updateValue(this.number)
    },
    updateValue (value) {
      if (isNaN(value)) {
        this.number = 1
        this.$emit('input', 1)
      } else {
        this.number = parseInt(value)
        this.$emit('input', this.number)
      }
    }
  }
}
</script>

<style lang="scss" scoped>

    .picker-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 168px;
    }

    input {
        border: 2px solid #757575;
        border-radius: 4px;
        text-align: center;
        &:focus {
            outline-offset: -2px;
        }
    }

</style>
